.aboutPageContainer{
    padding-top:50px;
    color:white;
    margin-left:20%;
    margin-right:20%;
}

.redirectButton{

    
    background-color: #3a3a3a94;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ff7b00;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}