.searchContainer{
    width:500px;
    margin:auto;
    padding-top:200px;
}

label{
    color:white;
}

.submitButton{
    background-color:orange;
}

.submitButton {
  background-color: #ff7b00;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #df6c00;
}

.watchingColor{
  color:#ff7b00;
}

@media ( max-width: 1000px ) {
    .searchContainer{
        width:400px;
    }
  }